USE [BiblioKowazoMauiDb]
GO
/****** Object:  Table [dbo].[Auteurs]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](max) NOT NULL,
	[Prenom] [nvarchar](max) NULL,
 CONSTRAINT [PK_Auteurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editeurs]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editeurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
	[Adresse] [nvarchar](200) NULL,
 CONSTRAINT [PK_Editeurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FicheDetails]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FicheDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Resume] [nvarchar](max) NULL,
	[NombrePages] [int] NULL,
	[Langue] [nvarchar](50) NULL,
	[LivreId] [int] NOT NULL,
 CONSTRAINT [PK_FicheDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LivreCategories]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivreCategories](
	[LivreId] [int] NOT NULL,
	[CategorieId] [int] NOT NULL,
 CONSTRAINT [PK_LivreCategories] PRIMARY KEY CLUSTERED 
(
	[LivreId] ASC,
	[CategorieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livres]    Script Date: 2026-04-18 21:18:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[DatePublication] [datetime2](7) NULL,
	[Prix] [decimal](18, 2) NULL,
	[AuteurId] [int] NOT NULL,
	[EditeurId] [int] NOT NULL,
 CONSTRAINT [PK_Livres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FicheDetails]  WITH CHECK ADD  CONSTRAINT [FK_FicheDetails_Livres_LivreId] FOREIGN KEY([LivreId])
REFERENCES [dbo].[Livres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FicheDetails] CHECK CONSTRAINT [FK_FicheDetails_Livres_LivreId]
GO
ALTER TABLE [dbo].[LivreCategories]  WITH CHECK ADD  CONSTRAINT [FK_LivreCategories_Categories_CategorieId] FOREIGN KEY([CategorieId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[LivreCategories] CHECK CONSTRAINT [FK_LivreCategories_Categories_CategorieId]
GO
ALTER TABLE [dbo].[LivreCategories]  WITH CHECK ADD  CONSTRAINT [FK_LivreCategories_Livres_LivreId] FOREIGN KEY([LivreId])
REFERENCES [dbo].[Livres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LivreCategories] CHECK CONSTRAINT [FK_LivreCategories_Livres_LivreId]
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD  CONSTRAINT [FK_Livres_Auteurs_AuteurId] FOREIGN KEY([AuteurId])
REFERENCES [dbo].[Auteurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Livres] CHECK CONSTRAINT [FK_Livres_Auteurs_AuteurId]
GO
ALTER TABLE [dbo].[Livres]  WITH CHECK ADD  CONSTRAINT [FK_Livres_Editeurs_EditeurId] FOREIGN KEY([EditeurId])
REFERENCES [dbo].[Editeurs] ([Id])
GO
ALTER TABLE [dbo].[Livres] CHECK CONSTRAINT [FK_Livres_Editeurs_EditeurId]
GO
